<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://ultraq.net.nz./thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Cobrança</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css"/>
</head>

<body>
    <header layout:include="Cabecalho"></header>

    <section layout:fragment="conteudo">
        <p>Conteúdo Principal</p>
    </section>

    <script src="/js/jquery-2.2.0.min.js"/>
    <script src="/js/bootstrap.min.js"/>
    <script src="/js/bootstrap-datepicker.min.js"/>
    <script src="/js/bootstrap-datepicker.pt-BR.min.js"/>
    <script src="/js/jquery.maskMoney.min.js"/>
    <script src="/js/cobranca.js"/>
</body>
</html>